doctype html
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>helloworld</h1>
        <script type="text/javascript">
(function(){
  window.sitest_sent_html = document.getElementsByTagName("html")[0].outerHTML;
  var pid = "5caf137e6a129";
  var dev = "";
  if (navigator.userAgent){
    dev = navigator.userAgent.match(/(android.*mobile|iphone|ipod|mobilessafari|iemobile|operasmini|windowssphone)/i)? "(sp)": "(pc)";
  }else{
    dev = "";
  }
  var name = dev + decodeURIComponent(location.pathname);
  var script_elm = document.createElement("script");
  script_elm.src = "//gcapps.local/tracking/sitest_js?p=" + pid + "&dynamic=true&urlname=" + encodeURIComponent(name);
  script_elm.async = true;
  document.head.appendChild(script_elm);
})();
</script>
    </body>


<html>
